
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
        
h1 {
    text-align: center;
    color: #333;
}
        
table {
    width: 100%;
    bottom: border-collapse: collapse;
    margin-top: 20px;

}
        
th, td {
    border: 1px solid black;
    padding: 12px;
    text-align: left;
}
        
th {
    background-color: #f4f4f4;
    font-weight: bold;
}
        
tr:nth-child(even) {
    background-color: #f9f9f9;
}
        
.category-header {
    background-color: #e6f7ff;
    font-weight: bold;
}
        
td[rowspan] {
    vertical-align: top;
    font-weight: bold;
}
        
ul {
    margin: 0;
    padding-left: 20px;
}
img {
    width: 10rem
}